body{
    background-color: #202020;
}


.navbar{
    background-color: #272928;
    padding-left: 100vh;
    text-align: left;
    font-size: 3vh;
}

.content{
    float: left;
    padding-top: 3vh;
    padding-left: 30vw;
}


.sidenav{
    background-color: #2b2727;
    width: 30vw;
    min-height: 100vh;
    position: fixed;
}

#pfp{
    border-radius: 90%;
    margin-left: 30%;
    margin-right: 30%;
    width: 25%;
}

#search{
    background-color:#202020;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 5%;
    border: none;
    

    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}
